{% extends 'base.html' %}

{% load static %}
{% block content %}

<br />
    <div class="container" href="/craiglist">
    <h1 style="text-align: center">Accueil</h1>
        <br/>
        <br/>
    <div class="row">
        <div class="col">
            <!-- Promo Content 1 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">navigation</i>
                <p>Fast craigslist web scraper</p>
                <p class="light center">Retrouve toutes les nouveautées du bad ici</p>
            </div>
        </div>



        <div class="col">
            <!-- Promo Content 3 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: blue">local_grocery_store</i>
                <p>A much sexier front-end to Craigslist</p>
                <p class="light center">Les nouveautées du partenaire️</p>
            </div>
        </div>
    </div>

        <br/>
        <br/>
        <br/>

    <div class="row">
        <div class="col">
            <!-- Promo Content 2 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: orange">camera</i>
                <p>Filter your searches</p>
                <p class="light center">We built in functionality to filter based on pricing.</p>
            </div>
        </div>

         <div class="col">
            <!-- Promo Content 2 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: orange">camera</i>
                <p>Filter your searches</p>
                <p class="light center">We built in functionality to filter based on pricing.</p>
            </div>
        </div>

    </div>

{% endblock content %}